<% provide(:title, "Home page") %>
<h1> Welcome to home page of "PhotoContest"! </h1>
<%if current_user.nil?%>
  <h2> We recommend you to auth:</h2>
  <%= link_to "Auth!", login_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <h2>You successfully authorised yet!</h2>
<% end %>