<% provide(:title, "Home page") %>
<h1> Welcome to home page of "PhotoContest"! </h1>
<%if logged?%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user', user: @user %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <h2> We recommend you to auth:</h2>
  <%= link_to "Auth!", login_path, class: "btn btn-lg btn-primary" %>
<% end %>