<% provide(:title, "Стартовая страница") %>
<h1> Добро пожаловать на стартовую страницу сервиса "ФотоКонкурс"! </h1>
<h2> Для продолжения рекомендуем Вам войти: </h2>
<%= link_to "Войти!", login_path, class: "btn btn-lg btn-primary" %>