<% provide(:title, "Auth page") %>
<h1>To auth, please click your preferable social network:</h1>
<%= link_to "Facebook", 'auth/facebook', class: "btn btn-lg btn-primary" %>
<%= link_to "VKontakte", 'auth/vkontakte', class: "btn btn-lg btn-primary" %> 

