<% provide(:title, "Страница входа") %>
<h1>Для входа в сервис воспользуйтесь одной из социальных сетей:</h1>
<%= link_to "Facebook", 'auth/facebook', class: "btn btn-lg btn-primary" %>
<%= link_to "ВКонтакте", 'auth/vkontakte', class: "btn btn-lg btn-primary" %> 

