
  <div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <img src=<%= @user.image_url %>/>
          <%= @user.first_name %>
          <%= @user.last_name %>
          <h3><a href="<%= @user.url %>">Social</a></h3>
        </h1>
      </section>
    </aside>
  </div>