<% provide(:title, "All posts") %>
<h1>All posts</h1>
<%= render "shared/sort" %>
<% if current_user.admin? %>
  <h2>Please moderate these posts:</h2>
  <%= render Post.moderated %>
<% end %>
<ul class="posts">
  <%= render @posts %>
  <% if @posts %>
    <h2>There are no posts yet, they may be under moderation</h2>
  <% end %>
</ul>
