<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ФотоКонкурс", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Some page1", '' %></li>
        <li><%= link_to "Some page2", '' %></li>
      </ul>
    </nav>
  </div>
</header>